[submodule "jni/opensl_stream"]
	path = jni/opensl_stream
	url = https://github.com/nettoyeurny/opensl_stream.git
[submodule "pure-data"]
	path = pure-data
	url = https://github.com/pure-data/pure-data.git
