
# built libs
libs/libpd.*
libs/libpdcpp.*
libs/libpdnative.*
libs/pdnative.*

# python
python/pylibpd_wrap.c
python/pylibpd.py
python/MANIFEST
python/build
*.o
*.so
*.class
*.pyc

# xcode
build/*
*.mode1v3
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
*.swp
xcuserdata
libpd.xcodeproj/project.xcworkspace
libpd.xcodeproj/xcuserdata

# osx
.DS_STORE
*.app

# csharp
samples/csharp/**/obj/*
samples/csharp/**/bin/*
csharp/obj/*
csharp/bin/*
libs/pd.*
libs/libpd.*
libs/libpdnative.*
libs/libpdcsharp.*
.vs/*
*.suo
*.csproj.user
packages/*
*.nupkg

# java
java-build/*
javadoc
libs/libpd-sources*
*.coverage
