samples/test/pdtest
python/pylibpd_wrap.c
python/pylibpd.py
python/MANIFEST
python/build
*.o
*.so
*.class
*.pyc
build/*
*.mode1v3
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
.DS_Store
*.swp
libpd.xcodeproj/project.xcworkspace
libpd.xcodeproj/xcuserdata
libs/libpd.dylib
libs/libpdnative.dylib
