
# samples
samples/test/pdtest

# python
python/pylibpd_wrap.c
python/pylibpd.py
python/MANIFEST
python/build
*.o
*.so
*.class
*.pyc

# xcode
build/*
*.mode1v3
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
*.swp
xcuserdata
libpd.xcodeproj/project.xcworkspace
libpd.xcodeproj/xcuserdata
libs/libpd.dylib
libs/libpdnative.dylib


# OSX
.DS_STORE
*.app

# csharp
samples/csharp/obj/*
samples/csharp/bin/*
csharp/obj/*
csharp/bin/*
libs/libpd.*
libs/libpdnative.*
csharptests/bin
csharptests/obj
csharptests/PartCover/coverage.xml
libs/libpdcsharp.*

# java
java-build/*
